<h1>User </h1>
<div class="card-container">
  <md-card class="example-card" *ngIf="users" fxFlex="100%" fxFlex.gt-sm="70%" fxFlex.gt-md="60%">
    <md-card-header>
      <md-card-title><h3>Name: <b>{{users.firstName}} {{users.lastName}}</b></h3></md-card-title>
      <md-card-subtitle><h4>Username: <b>{{users.user.userName}}</b></h4></md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        {{users.description}}
      </p>
    </md-card-content>
    <button md-mini-fab (click)="onEditUser()">
      <md-icon>edit</md-icon>
    </button>
    <h1 *ngIf="users.userEducations[0]">Education</h1>
    <md-card-content *ngFor="let education of users.userEducations">
      <md-card>
        <p><b>School Name:</b>
          {{education.schoolName}}
        </p>
        <p><b>Graduated year:</b>
          {{education.graduatedYear}}
        </p>
        <p><b>Description:</b>
          {{education.description}}
        </p>
        <button md-mini-fab (click)="onEditEducation(education)">
          <md-icon>edit</md-icon>
        </button>
        <button md-mini-fab (click)="openDeleteEducationConfirmation(education)">
          <md-icon>delete</md-icon>
        </button>
      </md-card>
    </md-card-content>
    <button md-mini-fab id="create-education" (click)="onCreateEducation()">
      <md-icon>add</md-icon>
    </button>
    <br><br>
    <hr>
    <br>
    <h1 *ngIf="users.userWorkExperience[0]">Work Experience</h1>
    <md-card-content *ngFor="let experience of users.userWorkExperience">
      <md-card>
        <p><b>Company Name:</b>
          {{experience.companyName}}
        </p>
        <p><b>Position:</b>
          {{experience.position}}
        </p>
        <p><b>Start date:</b>
          {{experience.startDate}}
        </p>
        <p><b>End date:</b>
          {{experience.endDate}}
        </p>
        <button md-mini-fab (click)="onEditWorkExperience(experience)">
          <md-icon>edit</md-icon>
        </button>
        <button md-mini-fab (click)="openDeleteWorkConfirmation(experience)">
          <md-icon>delete</md-icon>
        </button>
      </md-card>
    </md-card-content>
    <button md-mini-fab (click)="onCreateWorkExperience()">
      <md-icon>add</md-icon>
    </button>
    <br><br>
    <hr>
    <br>
    <h1 *ngIf="users.skills[0]">User Skills</h1>
    <md-card-content *ngFor="let skill of users.skills">
      <md-card>
        <p><b>Skill name:</b>
          {{skill.name}}
        </p>
        <p><b>Description:</b>
          {{skill.description}}
        </p>
        <button md-mini-fab>
          <md-icon>edit</md-icon>
        </button>
        <button md-mini-fab>
          <md-icon>delete</md-icon>
        </button>
      </md-card>
    </md-card-content>
    <button md-mini-fab>
      <md-icon>add</md-icon>
    </button>
  </md-card>
</div>


