
<md-card class="example-card">
  <md-card-header>
    <!--<div md-card-avatar class="example-header-image"></div>-->
    <!--<md-card-title>{{user.name}}</md-card-title>-->
    <!--<md-card-subtitle>{{user.id}}</md-card-subtitle>-->

  </md-card-header>
  <!--<img md-card-image src="{{imageUrl}}">-->
  <md-card-content>
  {{(users.getEducationList()[0]).getSchoolName()}}
  </md-card-content>
  <!--<md-card-actions>-->
    <!--<button (click)="goToUsers()">Back</button>-->
  <!--</md-card-actions>-->
</md-card>
