<div class='personal-information-container'>
  <div >
    <img  class="img-circle"  routerLink="users/1" src={{imageUrl}}>
  </div>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
    Profile Information
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item
            routerLink="users/1">
      <md-icon>account_circle</md-icon>
      <span>My profile</span>
    </button>
    <button md-menu-item
            routerLink="users/2" >
      <md-icon>edit</md-icon>
      <span >Edit my profile</span>
    </button>
  </md-menu>

</div>
