<div class="card-container">
  <md-card class="example-card">
    <md-card-header>
      <md-card-title><h3>Login</h3></md-card-title>
      <md-card-subtitle *ngIf="incorrect">Incorrect username or password</md-card-subtitle>
    </md-card-header>
    <form
      [formGroup]="this.loginForm"
      (ngSubmit)="logIn()">
      <md-card-content>
        <md-input-container class="form-group">
          <input mdInput
                 placeholder="Username "
                 type="text"
                 [formControlName]="'userName'">
        </md-input-container>
        <md-input-container class="form-group">
          <input mdInput
                 placeholder="Password"
                 type="password"
                 [formControlName]="'password'">
        </md-input-container>
      </md-card-content>
      <div class="button-container">
        <md-card-actions>
          <button md-raised-button>Login</button>
        </md-card-actions>
      </div>
    </form>
  </md-card>
</div>
