.personal-information-container{
 padding-bottom: 20px;
}

img {
  padding-top: 10px;
  width: 90%;
  height: auto;
  padding-left: 10%;
  padding-bottom: 10px;
}
h5{
  padding: 10px;
  margin: 10px;
  text-align: center;
  color:whitesmoke;
  background-color: rgba(29,82,24, 0.40);;
}

h5:hover{
  background: rgba(64, 155, 39, 0.81);
}
