<h2>Edit education</h2>
<md-dialog-content>
  <form
    [formGroup]="this.editEducationForm"
    (ngSubmit)="editEducation()">
    <md-input-container class="form-group">
      <input mdInput
             placeholder="SchoolName "
             type="text"
             [formControlName]="'schoolName'">
    </md-input-container>
    <br>
    <md-input-container class="form-group">
      <input mdInput
             placeholder="GraduatedYear"
             type="text"
             [formControlName]="'graduatedYear'">
    </md-input-container>
    <br>
    <md-input-container class="form-group">
      <textarea mdInput
                placeholder="Description"
                type="text"
                [formControlName]="'description'">
      </textarea>
    </md-input-container>
    <br>
    <md-dialog-actions>
      <button md-button>Save</button>
      <button md-button type="button" [md-dialog-close]="false">Close</button>
    </md-dialog-actions>
  </form>
</md-dialog-content>
