<h2>Create user</h2>
<md-dialog-content>
  <form
    [formGroup]="this.userCreateForm"
    (ngSubmit)="createNewUser()">
    <md-input-container class="form-group">
      <input mdInput
             placeholder="FirstName "
             type="text"
             [formControlName]="'firstName'">
    </md-input-container>
    <br>
    <md-input-container class="form-group">
      <input mdInput
             placeholder="LastName"
             type="text"
             [formControlName]="'lastName'">
    </md-input-container>
    <br>
    <span class="exist">{{errorMessage}}</span>
    <div formGroupName="user">
      <md-input-container class="form-group">
        <input mdInput
               placeholder="UserName"
               type="text"
               [formControlName]="'userName'">
      </md-input-container>
      <br>
      <md-input-container class="form-group">
        <input mdInput
               placeholder="Password "
               type="password"
               [formControlName]="'password'">
      </md-input-container>
      <br>
      <md-select placeholder="Role"
                 class="form-control"
                 id="userRoleId"
                 [formControlName]="'userRoleId'">
        <md-option [value]="1">User</md-option>
        <md-option [value]="2">HR</md-option>
        <md-option *ngIf="role>2" [value]="3">Admin</md-option>
      </md-select>
    </div>
    <md-dialog-actions>
      <button md-button>Create</button>
      <button md-button
              type="button"
              [md-dialog-close]="false">Close
      </button>
    </md-dialog-actions>
  </form>
</md-dialog-content>
