<div class="menu-container">
  <md-button-toggle-group [vertical]="true" value="button1" #group="mdButtonToggleGroup">
    <md-button-toggle class="menu-button" value="button1" routerLink="about">
      <md-icon md-list-icon>description</md-icon>
      About
    </md-button-toggle>
    <md-button-toggle class="menu-button" routerLink="users">
      <md-icon md-list-icon>person</md-icon>
      Users
    </md-button-toggle>
    <md-button-toggle class="menu-button" routerLink="jobs">
      <md-icon md-list-icon>work</md-icon>
      Jobs
    </md-button-toggle>
  </md-button-toggle-group>
</div>
