<h1>Jobs </h1>
<div class="card-container">
  <md-card class="example-card"
           *ngIf="job"
           fxFlex="100%" fxFlex.gt-sm="70%" fxFlex.gt-md="60%">
    <md-card-header>
      <md-card-title><h3>Name: <b>{{job.name}}</b></h3></md-card-title>
      <md-card-subtitle>{{job.code}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        {{job.description}}
      </p>
      <p>
        {{job.benefits}}
      </p>
    </md-card-content>
    <button md-mini-fab>
      <md-icon>edit</md-icon>
    </button>
    <br><br>
    <hr>
    <br>
    <h1>Requirements</h1>
    <md-card-content *ngFor="let skill of job.skills">
      <md-card>
        <p><b>Skill name:</b>
          {{skill.name}}
        </p>
        <p><b>Description:</b>
          {{skill.description}}
        </p>
        <button md-mini-fab (click)="openDeleteSkillConfirmation(skill.id)">
          <md-icon>delete</md-icon>
        </button>
      </md-card>
    </md-card-content>
    <button md-mini-fab (click)="onAddSkill()">
      <md-icon>add</md-icon>
    </button>
  </md-card>
</div>


