<h1>Users </h1>

<button md-fab
        mdTooltip="Create User"
        mdTooltipPosition="before"
        class="add-user"
        *ngIf="role>1"
        (click)="onCreateDialog()">
  <md-icon>add</md-icon>
</button>

<div class="card-container" *ngFor="let user of users ">
  <md-card class="example-card"
           fxFlex="100%"
           fxFlex.gt-sm="80%"
           fxFlex.gt-md="60%"
           fxFlex.gt-lg="40%">
    <div class="flex-container"
         fxLayout="row"
         fxLayoutAlign="center center"
         fxLayout.xs="column">
      <div class="flex-item" fxFlex="10%"
           fxHide
           fxHide.gt-xs
           fxShow.gt-sm
           fxShow.gt-md
           fxShow.gt-lg>
        <md-icon class="material-icons">person</md-icon>
      </div>
      <div class="flex-item" fxFlex="66%" fxFlex.xs="60%">
        <md-card-title><b>Username:</b> {{user.user.userName}}</md-card-title>
        <md-card-subtitle><b>FirstName:</b> {{user.firstName}}</md-card-subtitle>
        <md-card-subtitle><b>LastName:</b> {{user.lastName}}</md-card-subtitle>
      </div>
      <div class="flex-item" fxFlex="20%">
        <button md-mini-fab
                mdTooltip="Open Profile"
                mdTooltipPosition="before"
                (click)="onSelectUser(user)">
          <md-icon>content_paste</md-icon>
        </button>
        <button md-mini-fab
                mdTooltip="Delete User"
                mdTooltipPosition="after"
                *ngIf="role>1"
                (click)="openDeleteDialogConfirmation(user)">
          <md-icon>delete</md-icon>
        </button>
      </div>
    </div>
    <md-card-content
      fxHide
      fxShow.gt-xs
      fxShow.gt-sm
      fxShow.gt-md
      fxShow.gt-lg>
      {{user.description}}
    </md-card-content>
  </md-card>
</div>



