.add-user {
  position: fixed;
  top:100px;
  right:150px;
}

.card-container {
  display: flex;
  justify-content: center;
  margin: 10px
}

.example-card {
  width: 60%;
}

.flex-item {
  justify-content: center;
}

