<h2>Update User</h2>

<form
  [formGroup] ="updateUserForm">
  <!--(ngSubmit) = "onSubmit()">-->
  <div *ngIf="users" >
    <label for="firstname">Firstame</label>
    <input type="text" id = "firstname"  [(ngModel)]="users.firstName" [formControlName]="'firstName'">
    <br>
    <label for="lastname">Lastname</label>
    <input type="text" id = "lastname"  [(ngModel)]="users.lastName" [formControlName]="'lastName'">
    <br>
    <label for="description">Description</label>
    <textarea type="area" id = "description"  [(ngModel)]="users.description" [formControlName]="'description'"></textarea>
  </div>
</form>
