.example-card {
  width: 60%;
}

.card-container {
  display: flex;
  justify-content: center;
  margin: 10px
}

.flex-item {
  justify-content: center;
}

.create-button {
  display: flex;
  justify-content: left;
  margin: 10px
}

