<h1>Jobs </h1><br>

<div class="add-user">
  <button
    md-fab
    mdTooltip="New Job"
    mdTooltipPosition="before"
    *ngIf="access"
    (click)="onCreateJobDialog()">
    <md-icon>add</md-icon>
  </button>
</div>

<div class="card-container" *ngFor="let job of jobs ">
  <md-card class="example-card"
           fxFlex="100%"
           fxFlex.gt-sm="80%"
           fxFlex.gt-md="60%"
           fxFlex.gt-lg="40%">
    <div class="flex-container"
         fxLayout="row"
         fxLayoutAlign="center center"
         fxLayout.xs="column">
      <div class="flex-item" fxFlex="10%"
           fxHide
           fxHide.gt-xs
           fxShow.gt-sm
           fxShow.gt-md
           fxShow.gt-lg>
        <md-icon class="material-icons">work</md-icon>
      </div>
      <div class="flex-item" fxFlex="66%" fxFlex.xs="60%">
        <md-card-title> {{job.name}}</md-card-title>
      </div>
      <div class="flex-item" fxFlex="20%">
        <button md-mini-fab
                mdTooltip="Open"
                mdTooltipPosition="before"
                (click)="onSelectJob(job)">
          <md-icon>content_paste</md-icon>
        </button>
        <button md-mini-fab
                mdTooltip="Delete Job"
                mdTooltipPosition="after"
                *ngIf="access"
                (click)="openDeleteJobConfirmation(job)">
          <md-icon>delete</md-icon>
        </button>
      </div>
    </div>
  </md-card>
</div>



