
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.menu-button{
  width: 80%;
  margin-top: 20px;
}

.personal-information-container{
  position: sticky;
  top:0;
}

.menu-container{
  position:sticky;
  top:270px;
}
