<md-sidenav-container >
  <md-sidenav #sidenav class="example-sidenav">
    <button type = "button"  (click)="sidenav.close()" routerLink="about">About</button>
    <button type = "button"  (click)="sidenav.close()" routerLink="home">Home</button>
    <button type = "button"  (click)="sidenav.close()" routerLink="users">User</button>
  </md-sidenav>
  <div class="container">
    <nav class="navbar">
        <div class="fabelement">
          <button class=" fab " (click)="sidenav.open()">Menu</button>
        </div>
        <div class="user-info">
         <button class=" login-button">Login</button>
        </div>
    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>
