.example-sidenav {
  padding: 20px;
}
.img-container{
  display: flex;
  justify-content: center;
}

.img{
  height:250px;
  border-radius: 50%;
}

.example-spacer {
  flex: 1 1 auto;
}

.img-circle{
  width:36px;
  height:36px;
  border-radius: 50%;
}

.desktop-side-nav-container{
}
