md-sidenav {
  width: 220px;
  background-color: rgba(237, 237, 237, 0.92);
  min-height: 100vh;
}

desktop-sidenav-component {
  background-color: rgba(237, 237, 237, 0.92)
}

.img-container {
  display: flex;
  justify-content: center;
}

.img {
  height: 250px;
  border-radius: 50%;
}

.img-container {
  display: flex;
  justify-content: center;
}

.pers-menu {
  margin-top: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.img-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

button {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

button:active {

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
