<h2>Change Password</h2>

<md-dialog-content>
  <form
    [formGroup]="this.validateForm"
    (ngSubmit)="changePassword()">
    <md-input-container class="form-group">
      <input mdInput
             placeholder={{oldPassword}}
             type="password"
             name="password"
             [formControlName]="'oldPassword'">
    </md-input-container>
    <br>
    <md-input-container class="form-group">
      <input mdInput
             placeholder={{newPassword}}
             type="password"
             [formControlName]="'newPassword'">
    </md-input-container>
    <br>
    <md-input-container class="form-group">
      <input mdInput
             placeholder={{newPassword2}}
             type="password"
             [formControlName]="'newPassword2'">
    </md-input-container>
    <br>
    <md-dialog-actions>
      <button md-button>Save</button>
      <button md-button type="button" [md-dialog-close]="false">Close</button>
    </md-dialog-actions>
  </form>
</md-dialog-content>
