<h2>Edit user</h2>
<md-dialog-content>
  <form
    [formGroup]="this.userEditForm"
    (ngSubmit)="editUser()">
    <md-input-container class="form-group">
      <input mdInput
             placeholder="FirstName "
             type="text"
             [formControlName]="'firstName'">
    </md-input-container>
    <br>
    <md-input-container class="form-group">
      <input mdInput
             placeholder="LastName"
             type="text"
             [formControlName]="'lastName'">
    </md-input-container>
    <br>
    <md-input-container class="form-group">
      <textarea mdInput
                placeholder="Description"
                type="text"
                [formControlName]="'description'"></textarea>
    </md-input-container>
    <br>
    <md-dialog-actions>
      <button md-button>Save</button>
      <button md-button type="button" [md-dialog-close]="false">Close</button>
    </md-dialog-actions>
  </form>
</md-dialog-content>
