<h2>Edit WorkExperience</h2>

<md-dialog-content>
  <form
    [formGroup]="editWorkExperienceForm"
    (ngSubmit)="editWorkExperience()">
    <md-input-container class="form-group">
      <input mdInput
             placeholder="Company Name "
             type="text"
             [formControlName]="'companyName'">
    </md-input-container>
    <br>
    <md-input-container class="form-group">
      <input mdInput
             placeholder="Position"
             type="text"
             [formControlName]="'position'">
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput
             [mdDatepicker]="startDate"
             [formControlName]="'startDate'"
             placeholder=" Start Date">
      <button mdSuffix [mdDatepickerToggle]="startDate"></button>
    </md-input-container>
    <md-datepicker #startDate></md-datepicker>
    <br>
    <md-input-container>
      <input mdInput
             [mdDatepicker]="endDate"
             [formControlName]="'endDate'"
             placeholder="End Date">
      <button mdSuffix [mdDatepickerToggle]="endDate"></button>
    </md-input-container>
    <md-datepicker #endDate></md-datepicker>
    <br>
    <md-dialog-actions>
      <button md-button type="submit">Save</button>
      <button md-button type="button" [md-dialog-close]="false">Close</button>
    </md-dialog-actions>
  </form>
</md-dialog-content>
