<div class="menu-container">
  <md-list>
    <md-list-item>
      <button class="menu-button" md-raised-button  routerLink="about"> <md-icon md-list-icon>description</md-icon>About</button>
    </md-list-item>
    <md-list-item>
      <button class="menu-button" md-raised-button  routerLink="users"> <md-icon md-list-icon>person</md-icon>Users</button>
    </md-list-item>
    <md-list-item>
      <button class="menu-button" md-raised-button  routerLink="jobs"><md-icon md-list-icon>work</md-icon>Jobs</button>
    </md-list-item>
  </md-list>
</div>
