.example-card {
  width:60%;
}

.create-button {
  display: flex;
  justify-content:flex-end;
  margin:10px
}

.card-container{
  display: flex;
  justify-content: center;
  margin:10px
}

.flex-item{
  justify-content: center;
}

